body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.poster{
  width: 500px;
  margin: 150px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
.motivation-img{
    border: 5px solid white;
    width: 500px;
}